<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:l="http://typo3.org/ns/V/Local/ViewHelpers"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
      http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers /public/typo3conf/ext/vhs/Resources/Private/Schemas/Vhs.xsd
      http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers /public/typo3conf/ext/local/Resources/Private/Schemas/TYPO3.CMS.Fluid.xsd
      http://typo3.org/ns/V/Local/ViewHelpers /public/typo3conf/ext/local/Resources/Private/Schemas/V.Local.xsd"
      data-namespace-typo3-fluid="true">

<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="container">
        <ul class="bd-footer-links ps-0 mb-3">
            <li class="d-inline-block">
                Made with <img alt="love" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAyMSAxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+bG92ZTwvdGl0bGU+PHBhdGggZD0iTTE0LjcyNS4wMzJhNS4zMSA1LjMxIDAgMCAwLTQuNjg3IDIuODE0IDUuMzEyIDUuMzEyIDAgMCAwLTEwIDIuNDk4YzAgNC43NjMgNS44MzQgNy4zOTcgMTAgMTEuNTY0IDQuMzA2LTQuMzA2IDEwLTYuNzYgMTAtMTEuNTYzQTUuMzEyIDUuMzEyIDAgMCAwIDE0LjcyNS4wMzJ6IiBmaWxsPSIjRTgyRjJGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjwvcGF0aD48L3N2Zz4K" class="css-1jwzbq4">
                by <f:link.typolink parameter="https://www.sourcebroker.dev" target="_blank" class="text-secondary text-decoration-none">SourceBroker</f:link.typolink>
            </li>
        </ul>
        <p class="mb-0 small">Boostrap default theme (v5.0.0-beta1)</p>
    </div>
</footer>

</html>
